$base-color: #777;
$second-color: #333;
$heading-font: Arial;

.element {
  width: 100px;
  height: 100px;
  background: black;
  p{
    color: $second-color;
  }
}

.menu{
  font-size: 13px;
}

.link{
  color: $second-color;
  font-size: 12px;
}

#articleContainer{
  transform: rotate(45deg);
  background-color: #ff0000;
}

.heading{
  font-family: $heading-font;
}

footer{
  font-size: 13px;
  background: #ccc;
}
#container{
  margin:0 auto;
}
